@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="LoginMT">LoginMT</a><br />
    <a href="Call/CallApiPermission01">Call/CallApiPermission01</a><br />
    <a href="Call/CallApiPermission02">Call/CallApiPermission02</a><br />
    <a href="Call/CallApiPermission02WebApi01">Call/CallApiPermission02WebApi01</a><br />
    <a href="Call/CallApiPermission02WebApi02">Call/CallApiPermission02WebApi02</a><br />
</div>
