@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><a href="UserProfile">UserProfile</a></p>
    <p><a href="SubscriptionList">SubscriptionList</a></p>
</div>
