@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Consent for API (first!)</h3>
<p>
<a target="_blank" href="https://login.microsoftonline.com/organizations/v2.0/adminconsent?client_id=e9f539b8-5d4e-457b-9d6b-cae89ac270cd&redirect_uri=https://localhost:7188&state=http://localhost:7188&scope=https://graph.microsoft.com/.default">Link to Consent (Api, for https://graph.microsoft.com/.default)</a>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
