@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="Register">Register new Tenant</a><br />
    <a href="Reset">Reset SaaS DB</a><br />
    <a href="LoginMT">LoginMT</a><br />

</div>
